.h2 {
  font-family: var(--title-font);
  width: fit-content;
  margin: auto;
  font-size: 2.5em;
  color: var(--primary-color);
}

.h3 {
  font-family: var(--otherTitle-font);
  width: fit-content;
  margin: auto;
  font-size: 4em;
  color: var(--secondary-color);
  font-weight: lighter;
}
